<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pneus Fortaleza</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="layout">

    <!-- SIDEBAR -->
    <aside class="sidebar">
        <div class="logo">
            🛞 <span>PNEUS</span> FORTALEZA
        </div>

        <nav>
            <a href="/clientes" class="active">Clientes</a>
            <a href="#">Serviços</a>
            <a href="#">Caixa</a>
            <a href="#">Relatórios</a>
            <a href="#">Configurações</a>
        </nav>
    </aside>

    <!-- CONTEÚDO -->
    <main class="content">
        {% block content %}{% endblock %}
    </main>

</div>

</body>
</html>
