<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pneus Fortaleza</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="layout">

    <!-- MENU LATERAL -->
    <aside class="sidebar">
        <div class="logo">
            🛞 BORRACHARIA PRO
        </div>

        <ul>
            <li><a href="/clientes">Clientes</a></li>
        </ul>
    </aside>

    <!-- CONTEÚDO -->
    <main class="main">
        {% block content %}{% endblock %}
    </main>

</div>

</body>
</html>
