{% extends "base.html" %}

{% block content %}

<div class="topbar">
    <h1>Cadastro de Clientes</h1>
    <button class="btn-vermelho">+ Novo Cliente</button>
</div>

<div class="card">
    <h2>Dados do Cliente</h2>

    <form>
        <div class="grid">
            <div>
                <label>Nome Completo</label>
                <input type="text" placeholder="Digite o nome">
            </div>

            <div>
                <label>Telefone</label>
                <input type="text" placeholder="(31) 99999-9999">
            </div>

            <div>
                <label>CPF/CNPJ</label>
                <input type="text" placeholder="CPF ou CNPJ">
            </div>

            <div>
                <label>Placa do Veículo</label>
                <input type="text" placeholder="ABC-1234">
            </div>
        </div>

        <div class="obs">
            <label>Observações</label>
            <textarea placeholder="Informações adicionais..."></textarea>
        </div>

        <div class="btn-area">
            <button class="btn-vermelho">Salvar</button>
        </div>
    </form>
</div>

{% endblock %}